<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Listado de Peliculas</h1>
    <ul>
        <% moviesAll.forEach(movie => { %>
            <a href="/movies/detail/<%= movie.id %> "><li><%= movie.title %> </li></a>
        <% }) %>
    </ul>
</body>
</html>