<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estas son las peliculas recomendadas (rating mayor a 8):</h1>
    <ul>
        <% movies.forEach(element => { %>
            <li><a href="/movies/detail/<%= element.id %> "><%= element.title %> - <%= element.rating %></a></li>
        <% }) %>
    </ul>
</body>
</html>